.page404 {
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 10vh 0 0 0;
	align-items: center;
	justify-content: center;
}

.page404 > *:not(:last-child) {
	margin-bottom: 1rem;
}

.page404 .text-404 {
	font-family: TitiBold;
	font-size: 8.5rem;
	letter-spacing: 1.5rem;
	color: var(--color-primary);
}

.page404 .text {
	font-family: RoboLight;
}

.page404 .redirect {
	color: var(--color-primary);
}
