:root {
	--spacing: 12px;
	--spacing-dbl: calc(var(--spacing) * 2);
	--spacing-half: calc(var(--spacing) * .5);

	/* colors */
	--color-primary: orange;
	--color-secondary: royalblue;
	--red: #ff2222;
	--red-light: #ff5c5c;
	--grey-light: #d8d8d8;
	--grey-mid: #b5b5b5;
	--grey-dark: #777;

	/* accents */
	--radius: 15px;
	--size: 25px;
}


/* Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* Fonts */

@font-face {
	font-family: TitiSemi;
	src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

@font-face {
	font-family: TitiBold;
	src: url('../fonts/TitilliumWeb-Bold.ttf');
}

@font-face {
	font-family: RoboLight;
	src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
	font-family: Robo;
	src: url('../fonts/Roboto-Regular.ttf');
}

.loader {
	width: var(--size);
	height: var(--size);
	margin-top: var(--size);
	border: 2px solid var(--color-primary);
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-radius: 50%;
	-webkit-animation: animateLoader 1s linear 0s infinite;
	-moz-animation: animateLoader 1s linear 0s infinite;
	-ms-animation: animateLoader 1s linear 0s infinite;
	-o-animation: animateLoader 1s linear 0s infinite;
	animation: animateLoader 1s linear 0s infinite;
}

@keyframes animateLoader {
	to {
		transform: rotate(360deg);
	}
}
