.Loading {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	backdrop-filter: blur(3px);
}

.Loading__text {
	color: var(--color-primary);
	font-family: TitiSemi, sans-serif;
	letter-spacing: .15rem;
	word-spacing: .5rem;
	font-weight: 500;
}

.Loading__signature {
	font-family: Roboto, sans-serif;
	position: absolute;
	bottom: 50px;
	font-size: .85rem;
	color: var(--grey-dark);
}
