:root {
	--space: 12px;
	--color-base: purple;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Base styles */

.App,
.display,
.category,
.card,
.form-modal,
.form-modal form {
	display: flex;
}

.category,
.display,
.form-modal form {
	flex-direction: column;
}

button {
	--size: 25px;
	width: var(--size);
	height: var(--size);
	padding: 2.5px;

	background-color: transparent;
	border: none;
	/*outline: */
}

button span {
	pointer-events: none
}

.icon,
.icon svg {
	width: 100%;
	height: 100%;
}


/* Actual styles and Overrides */

.App {
	/*margin: auto;*/
	padding: 50px;
	justify-content: center;
}


/* Category */

.category {
	padding: 30px;
	border: 1px solid var(--color-base);
}

.category .head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.category#contacts {
	width: 55%;
	/*max-width: 330px;*/
	max-width: 450px;
}

.category#groups {
	width: 35%;
	max-width: 350px;
}


/* Display */

.display {
	width: 100%;
}


/* Card */

.card {
	align-items: center;
	justify-content: space-between;
	padding: var(--space) 0;
	border-bottom: 1px solid #ebebeb;
}
/*
.card:not(:last-child) {
	border-bottom: 1px solid #ebebeb;
}*/

#contacts .display .card .info {
	flex-grow: 1;
}

#groups .display .card {

}

.category .display .card.delete {
	transform: translateX(-70%);
	opacity: 0;
	transition: .5s ease .1s;
}

/* buttons and button icons */

.category .add {
	--size: 45px;
}
.category .add svg path:first-child {
	fill: var(--color-base);
}

.category .display button {
	margin-left: var(--space);
}

.category .display .card button {
	opacity: .5;
}

.category .card button:hover {
	opacity: 1
}

.category#groups .add {
	margin: auto var(--space) var(--space) auto;
}

button #delete svg {
	fill: red;
}



/* Form modal */

.form-modal {
	width: 100%;
	height: 100vh;
	padding: calc(var(--space) * 2);

	justify-content: center;
	align-items: center;

	overflow-y: auto;
	position: absolute;
	top: 0;
	left: 0;
	backdrop-filter: blur(2px) grayscale(.5);

	z-index: 5;
	transition: .3s ease-in-out .1s;
}

.form-modal.hidden {
	/*display: none;*/
	transform: scale(0);
}

.form-modal .form-main {
	--size: 25vmax;
	padding: calc(var(--space) * 2);
	background-color: #fff;
	box-shadow: 0 0 4px #c4c4c4;
	width: var(--size);
	min-width: 320px;
}

.form-modal .form-main .title {
	color: var(--color-base);
}

.form-modal .form-main .title,
.form-modal .form-main .field {
	padding: var(--space) 0;
}

.form-modal .form-main .field label {
	padding: var(--space) 0;
	text-transform: capitalize;
	font-weight: 500;
}

.form-modal .form-main input {
	width: 100%;
	border: none;
	padding: var(--space) 0;
}

.form-modal .form-main input:not([type="submit"]) {
	/*border: none;*/
	outline: none;
	border-bottom: 1px solid #ebebeb;
	transition: border ease-in-out .3s;
}

.form-modal .form-main input:not([type="submit"])::placeholder {
	transition: color ease-in-out .3s;
}

.form-modal .form-main input:not([type="submit"]):focus {
	border-bottom-color: #202020;
}

.form-modal .form-main input:not([type="submit"]):focus::placeholder {
	color: #ebebeb;
}

.form-modal .form-main input[type="submit"] {
	text-transform: uppercase;
	background-color: var(--color-base);
	color: #fff;
}

.form-modal#group-form .form-main .checklist {
	max-height: 220px;
	overflow-y: scroll;
}

.form-modal#group-form .form-main .checklist::-webkit-scrollbar {
	width: 6px;
}

.form-modal#group-form .form-main .checklist::-webkit-scrollbar-track {
	background-color: #ebebeb;
}

.form-modal#group-form .form-main .checklist::-webkit-scrollbar-thumb {
	background-color: #d2d2d2;
	transition: all ease-in-out .3s;
}
.form-modal#group-form .form-main .checklist::-webkit-scrollbar-thumb:hover {
	background-color: #b5b5b5;
}

.form-modal#group-form .form-main input[type="checkbox"] {
	width: unset;
	margin-right: var(--space);
}
