:root {
	--spacing: 12px;

	/* colors */
	--color-primary: orange;
	--color-secondary: royalblue;
	--red: #ff2222;
	--red-light: #ff5c5c;
	--grey-light: #d8d8d8;
	--grey-mid: #b5b5b5;
	--grey-dark: #777;

	/* accents */
	--radius: 15px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* BASE STYLES */

.App,
.content-display,
.content-category,
.content-category .head,
.card,
.form-modal,
.form-modal form {
	display: flex;
}

.content-category,
.content-display,
.form-modal .form-main form {
	flex-direction: column;
}

.card {
	align-items: center;
	justify-content: space-between;
	padding: var(--spacing) 0;
	border-bottom: 1px solid var(--grey-light);
	cursor: pointer;
	/*transition: transform .1s ease-in-out;*/
}

/*.card:hover {
	transform: translateX(-5px);
}
*/
button {
	--size: 25px;
	width: var(--size);
	height: var(--size);
	padding: 2.5px;

	background-color: transparent;
	border: none;
	outline: none;
	transition: transform .3s ease-in-out;
}

button:active,
input[type="submit"]:active {
	transform: scale(.9);
}

button span {
	pointer-events: none
}

.icon svg {
	pointer-events: none
}

.icon,
.icon svg {
	width: 100%;
	height: 100%;
}

/* Scrollbars */

.App *::-webkit-scrollbar {
	width: 6px;
}

.App *::-webkit-scrollbar-track,
.App *::-webkit-scrollbar-thumb {
	border-radius: var(--radius);
}

.App *::-webkit-scrollbar-track {
	background-color: var(--grey-light);
}
.App *::-webkit-scrollbar-thumb {
	background-color: var(--grey-mid);
	transition: all ease-in-out .3s;
}

.App *::-webkit-scrollbar-thumb:hover {
	background-color: var(--grey-dark);
}


/* MAIN STYLES AND OVERRIDES */

.App {
	/*margin: auto;*/
	padding: 50px;
	justify-content: center;
}

/* Content Category */

.content-category {
	align-self: flex-start;
	padding: calc(var(--spacing) * 2);
	margin: var(--spacing);
	border: 1px solid var(--color-primary);
	border-radius: var(--radius);
}

.content-category .head {
	display: flex;
	padding: 0 var(--spacing);
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.content-category#contacts {
	width: 55%;
	max-width: 450px;
}

.content-category#groups {
	width: 35%;
	max-width: 350px;
}

/* Content Display */

.content-display {
	width: 100%;
	padding: 0 var(--spacing);
	max-height: 500px;
	margin-bottom: var(--spacing);
	overflow: hidden auto;
}

/* Card */

.content-category .content-display .card.delete {
	transform: translateX(-70%);
	opacity: 0;
	transition: .5s ease .1s;
}

.content-display .card.contact .info,
.content-display .card.group > * {
	pointer-events: none;
}

.content-display .card.contact .info {
	flex-grow: 1;
}

.content-display .card.contact .info .name {
	font-weight: 600;
}

.content-display .card.contact .info .number {
	font-size: .9em;
	color: var(--grey-mid);
}

.content-display .card.group .count {
	color: var(--grey-mid);
	font-size: .9em;
	font-style: italic;
}

/* Buttons and Button icons */

.content-category button.add {
	--size: 45px;
}

.content-category button.add svg path:first-child {
	fill: var(--color-primary);
}

.content-category#groups .add {
	align-self: flex-end;
	margin: auto 0 0 auto;
}

.content-category .content-display button {
	margin-left: calc(var(--spacing) * 2);
}

.content-category .content-display button:active {
	transform: none;
}

.content-category .card button #edit svg {
	fill: var(--grey-light);
}

.content-category .card button:hover #edit svg {
	fill: var(--grey-dark);
}

.content-category .card button #delete svg {
	fill: var(--red-light);
}

.content-category .card button:hover #delete svg {
	fill: var(--red);
}

/* Form modal */

.form-modal {
	width: 100%;
	height: 100vh;
	padding: calc(var(--spacing) * 2);

	justify-content: center;
	align-items: flex-start;

	overflow-y: auto;
	position: absolute;
	top: 0;
	left: 0;
	backdrop-filter: blur(2px) grayscale(.5);

	transition: all .5s ease-in-out;
	z-index: 5;
}

.form-modal.closed {
	pointer-events: none;
	overflow-y: hidden;
	backdrop-filter: none;
}

.form-modal .form-main {
	--size: 25vmax;
	width: var(--size);
	min-width: 320px;
	padding: calc(var(--spacing) * 2);

	border-radius: calc(var(--radius) * .5);
	background-color: #fff;
	box-shadow: 0 0 4px var(--grey-mid);

	transition-property: transform;
	transition: all .5s ease-in-out;
}

.form-modal.closed .form-main {
	/*transform-origin: top;*/
	transform: translate(0%, -110%) scale(0);
}

.form-modal .form-main .title {
	color: var(--color-primary);
}

.form-modal .form-main .title,
.form-modal .form-main .field {
	padding: var(--spacing) 0;
}

.form-modal .form-main .field label {
	padding: var(--spacing) 0;
	text-transform: capitalize;
	font-weight: 500;
}

.form-modal .form-main input {
	width: 100%;
	padding: var(--spacing) 0;
	border: none;
	outline: none;
}

.form-modal .form-main input[disabled] {
	background-color: transparent;
}

.form-modal .form-main input:not([type="submit"]) {
	/*border: none;*/
	transition: border ease-in-out .3s;
}

/* hide input borders when in preview mode */
.form-modal .form-main:not(.preview-mode) input:not([type="submit"]) {
	border-bottom: 1px solid var(--grey-light);
}

.form-modal .form-main input:not([type="submit"])::placeholder {
	color: var(--grey-dark);
	transition: color ease-in-out .3s;
}

.form-modal .form-main input:not([type="submit"]):focus {
	border-bottom-color: var(--grey-dark);
}

.form-modal .form-main input:not([type="submit"]):focus::placeholder {
	color: var(--grey-light);
}

.form-modal .form-main input[type="submit"] {
	text-transform: uppercase;
	background-color: var(--color-primary);
	color: #fff;
	border-radius: calc(var(--radius) * .25)
}

.form-modal#group-form .form-main input[type="checkbox"] {
	width: unset;
	margin-right: var(--spacing);
}

.form-modal#group-form .form-main .checklist {
	max-height: 220px;
	overflow-y: scroll;
}
